Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.digitusmarketing.nl$ [NC]
RewriteRule ^(.*)$ http://digitusmarketing.nl/awstats/$1 [R=301,L]
